@model EmployeesApp.MVC.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1 class="create-title"> <label>@Model.FirstName @Model.LastName</label> Details</h1>


<div>

    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-3">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </div>
        <div class="col-md-6">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EnrollDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EnrollDate)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a class="edit-btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="back-detail-btn" asp-action="Index">Back to List</a>
</div>
